{
	"presets": [
		["env", {
			"targets": {
				"node": "current"
			}
		}], 
	"flow", "react", "stage-0"],
	"plugins": [
		"transform-decorators-legacy",
		"syntax-flow",
		"transform-flow-strip-types",
		"transform-class-properties",
		"transform-object-rest-spread",
		"transform-export-extensions"
	]
}
